<a href="https://colab.research.google.com/github/prashant3094/Python-for-Everybody---Full-University-Python-Course/blob/main/Copy_of_python_for_everybody.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nam=input('who are you? ')
print('welcome',nam)

who are you? chuck
welcome chuck

In [ ]:
x=2
x=x+2
print(x)

4

In [ ]:
x=5
if x< 10:
  print("smaller")
if x > 20:
  print("bigger")

print("finished")

smaller
finished

#try and Except in python

The try block lets you test a block of code for errors.

The except block lets you handle the error.

The else block lets you execute code when there is no error.

The finally block lets you execute code, regardless of the result of the try- and except blocks.

In [ ]:
try:
  print(xx)  #xx is not defined so it try will throw error
except:
  print("an exception occured")

an exception occured

In [ ]:
try:
  print(xx)
except NameError:
  print("Variable xx is not defined")
except:
  print("Something else went wrong")

Variable xx is not defined

In [ ]:
try:
  print("Hello")  #try statement got run 
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [ ]:
try:
  print(xx)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

#if else elif

In [ ]:
x=4
if x>2:
  print("bigger")
else:
  print("smaller")

bigger

In [ ]:
x=0
if x<2:
  print("small")
elif x< 10:
  print("medium")
else:
  print("large")

print("all done")

small
all done

In [ ]:
x=20
if x<2:
  print("small")
elif x< 10:
  print("medium")
else:
  print("large")

print("all done")

large
all done

In [ ]:
x=5
if x<2:
  print("small")
elif x< 10:
  print("medium")
else:
  print("large")

print("all done")

medium
all done

In [ ]:
x=20
if x<2:
  print("small")
elif x< 10:
  print("medium")
else:
  print("large")

print("all done")

large
all done

#Function

in python function some reusabel code that takes arguments(s) as input does some computation and then return results.

In [ ]:
def thing():
  print("hello")
  print("fun")

In [ ]:
thing() #calling a function

hello
fun

In [ ]:
def print_lyrics():
  print("i'm a luberjackand i am okay")
  print('i sleep all night and i work all day')

In [ ]:
print_lyrics()

i'm a luberjackand i am okay
i sleep all night and i work all day

In [ ]:
def greet(lang):  #function with argumnets
    if lang=="es":
      print("hola")
    elif lang=="fr":
      print("bonjuri")
    else:
      print("hello")

In [ ]:
greet("es")
print("*******")
greet("fr")
print("******")
greet("jk")

hola
*******
bonjuri
******
hello

In [ ]:
def greet():
  return ("hello")
print(greet(),"glenn")
print(greet(),'sally')

hello glenn
hello sally

#while loop

In [ ]:
n=5
while n >0:
  print(n)
  n=n-1
print("blastoff")
print(n)

5
4
3
2
1
blastoff
0

#finding the largest number in the list

In [ ]:
largest_so_far=-1
print("before",largest_so_far)
for the_num in [9,41,12,3,74,15]:
  if the_num > largest_so_far:
    largest_so_far= the_num
  print(largest_so_far,the_num)

print("after",largest_so_far)

before -1
9 9
41 41
41 12
41 3
74 74
74 15
after 74

#finding the smallest number in the list

In [ ]:
smallest= None
print("before")
for value in [9,41,12,3,74,15]:
  if smallest is None:
    smallest=value
  elif value < smallest:
    smallest=value
  print(smallest, value)
print("After", smallest)

before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

#strings

In [ ]:
fruit="banana"     # b=0 , a=1 ,n=2 ,a=3, n=4, a=5
letter=fruit[1]
print(len(fruit))
print("********")
print(letter)  #indexing to the string

6
********
a

In [ ]:
x=3
w=fruit[x-1]
print(w)

n

In [ ]:
#looping through string
fruit="banana"
for i in fruit:
  print(i)

b
a
n
a
n
a

#reading files

A text file can be thought of as sequence of lines

#list

algorithms= a set of rules or steps used to solve a problem

data structure=a particular way of orginizing data in a computer

In [1]:
abc="with three words"
stuff=abc.split()
print(stuff)

['with', 'three', 'words']

#Dictioanries

list = a linear collection of values that stay in order

dictionary= a bag of values each with its own labels

In [3]:
purse=dict()
purse['money']=12
purse['candy']=3
purse['tissue']=75
purse

{'candy': 3, 'money': 12, 'tissue': 75}

In [4]:
#get in python
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

#tuples

tuples are another kind of sequqnce that function much likea list

they have element which are indexed starting at 0

In [5]:
x=("glenn","sally","jospe")
print(x[2])

jospe

In [6]:
y=(1,9,2)
print(y)
print(max(y))

(1, 9, 2)
9

#tuples are immutable,  list are mutable

In [11]:
#we can also put a tuple on the left hand side of assignement statement
(x,y)=(4, 'fred')
print(y)

fred

In [9]:
(a,b)=(99,98)
print(a)

99